.react-test-page {
    .search-area {
        margin-bottom: 20px;
        .btn {
            padding: 5px 15px;
            background-color: #fff;
            border: 1px solid #999;
            border-radius: 2px;
        }
        .btn:hover {
            border-color: #D1E8FE;
            background-color: #D1E8FE;
            color: #30A9EF;
        }
    }
    .list-page {
        dl {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            border-top: 1px solid #999;
            border-radius: 3px;
            margin: 0px;
            dt {
                width: 20%;
                flex: auto;
                margin: 0px;
                padding: 10px 0px;
                border-right: 1px solid #999;
                text-align: center;
            }
            dt:last-child {
                border-right: none;
            }
            dd {
                width: 20%;
                flex: auto;
                margin: 0px;
                padding: 10px 0px;
                border-right: 1px solid #999;
                text-align: center;
                font-weight: 300;
            }
            dd:last-child {
                border-right: none;
            }
        }
        dl:last-child {
            border-bottom: 1px solid #999;
        }
    }
    .html-lable-study {
        .table {
            border: 1px;
        }
        .html-lable-study-1 {
            width:900px;
            background:#ccc;
            padding-bottom:20px; 
            position: absolute;
            dl {
                position: relative;
                margin:20px 0 0 20px;
                float:left;
                background:red;
                dt {
                    width:180px; 
                    margin:10px; 
                    height:120px; 
                    background:#FFF;
                }  
                dd {
                    width:180px; 
                    margin:0 0 10px 10px; 
                    height:30px; 
                    line-height:30px; 
                    background:#FFFFFF; 
                    text-align:center;
                }  
            }  
  
        }
        .html-lable-study-2 {
            width:900px; 
            background:#ccc;  
            dl {
                position: relative;
                width:860px; 
                height:230px; 
                margin:20px; 
                background:red;
                dt {
                    position: relative;
                    width:180px; 
                    height:210px; 
                    float:left; 
                    margin:10px; 
                    background:#FFF;
                }  
                dd {
                    position: relative;
                    width:610px; 
                    height:190px; 
                    float:left; 
                    margin:10px 10px 10px 0; 
                    padding:10px 20px; 
                    line-height:20px; 
                    background:#FFFFFF; 
                    text-align:left;
                }  
                .More { 
                    position:absolute; 
                    right:120px; 
                    margin-top:10px;
                }
                .red {
                    color: red;
                }
            }  
        }
        .html-lable-study-3 {
            width:880px; 
            background:#ccc; 
            padding:20px 20px 20px 0;  
            dl { 
                float:left; 
                width:380px; 
                height:220px; 
                padding:20px; 
                margin-left:20px; 
                background:white;
                dt {  
                    float: left; 
                    width: 80px;
                }  
                dd { 
                    float: left; 
                    width: 290px;
                    position: relative;
                    margin-left: 80px;
                    top: -18px;
                }  
            }  
        }
        .html-lable-study-4 {
            width:980px; 
            background:red; 
            padding:20px; 
            text-align:center;  
            dl{ 
                width:940px; 
                background:white; 
                padding:20px;
                height: 180px; 
                .titles{ 
                    float:left; width:205px; 
                    background:#999; 
                    height:30px; 
                    line-height:30px;
                }  
                .titles1-1{ 
                    float:left; 
                    width:205px; 
                    height:50px; 
                    background:#ccc; 
                    border-bottom:dashed black 1px;
                }  
                .bg{ 
                    background:#ddd;
                }  
                strong{ 
                    font-weight:bold;
                }  
            }  
        }
    }
}