@font-face {
  font-family: 'iconfont';  /* project id 305893 */
  src: url('//at.alicdn.com/t/font_gjpeme80s1bdquxr.eot');
  src: url('//at.alicdn.com/t/font_gjpeme80s1bdquxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_gjpeme80s1bdquxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_gjpeme80s1bdquxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_gjpeme80s1bdquxr.svg#iconfont') format('svg');
}

.select {
    display: inline-block;
    .select-show {
        display: flex;
        justify-content: space-between;
        width: 160px;
        height: 30px;
        border: 1px solid #999;
        line-height: 30px;
        padding-left: 5px;
        cursor: pointer;
        border-radius: 3px;
        span {
            overflow: hidden;
            color: #666;
            text-overflow: ellipsis;
        }
        .iconfont-row {
            font-family: 'iconfont';
            font-style: normal;
            padding: 0px 5px;
            border-left: 1px solid #ccc;
        }
    }
}